<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultats</title>
  </head>
  <body>
    <center>
      <h1>Résultats</h1>
      <p>
        Itinéraire optimal pour aller à <strong>{{ data[1] }}</strong> partant
        de <strong>{{ data[0] }}</strong>
      </p>
      <p>
        <strong>{{ data[2] }}</strong>
      </p>
    </center>

    <a href="/">Retour à l'accueil ?</a>
  </body>
</html>
