<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam
      doloribus inventore temporibus unde libero eveniet illo nisi ducimus
      similique voluptate consequatur rem, at eos iure rerum placeat iste
      molestias?
    </p>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>

    <form action="{{url_for('distance')}}" method="post">
      <input type="text" name="source" placeholder="source" />
      <input type="text" name="target" placeholder="target" />
      <input type="submit" value="result" />
    </form>
  </body>
</html>
